{% extends 'base.jinja' %} {% block content %}
    <h1 class="title_text">{{ title }}</h1>

    <form action="/events" method="post">

    <label for="name">Event Name: </label>
    {# input id matches the form name #}
    <input type="text" id="name" name="name">

    <label for="date_of_event">Date: </label>
    <input type="date" name="date" id="date_of_event"> 

    <label for="location">Location</label>
    <input type="text" id="location" name="location">

    <label for="num_of_guest">Number of Guest</label>
    <input type="number" name="num_of_guest" id="num_of_guest">

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <label for="recurring">Recurring?</label>
    <input type="checkbox" id="recurring" name="recurring">

    <input type="submit" value="Save">
    </form>

    <ul>
        {% for event in event_list %}
        <li>{{ event.name }} Date: {{ event.date }} Location: {{ event.location }} Recurring: {{ event.recurring }} </li>

    {% endfor %}
    </ul>
{% endblock content %}